[submodule "foundry/exercise-1/lib/forge-std"]
	path = foundry/exercise-1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry/exercise-1/lib/openzeppelin-contracts"]
	path = foundry/exercise-1/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry/exercise-3/lib/forge-std"]
	path = foundry/exercise-3/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
